Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

fix: fix scopes constant
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/monitoring/src/constants.ts
Due: prettier --check, eslint

fix(dashboard/monitoring): fix export
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/dashboard/src/modules/monitoring/logic/getProcessKeyByMonitoring.ts
  packages/dashboard/src/modules/monitoring/store/index.ts
Due: prettier --check, eslint

fix: allreduce
  emulations/all-reduce/main.ts
  emulations/hello/main.ts
  emulations/reduce/main.ts
  packages/connections/src/domain/Communicator.ts
  packages/core/src/domain/Operator.ts
  packages/core/src/logic/creators/createOperator.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

fix: matrices multiply
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  speedtest/multiply-matrices/mpi/main.js
  speedtest/multiply-matrices/mpi/master/settings.json
  speedtest/multiply-matrices/mpi/pc-1/settings.json
  speedtest/multiply-matrices/mpi/pc-2/settings.json
  speedtest/multiply-matrices/mpi/pc-3/settings.json
  speedtest/multiply-matrices/mpi/pc-4/settings.json
  speedtest/multiply-matrices/mpi/pc-5/settings.json
  speedtest/multiply-matrices/mpi/pc-6/settings.json
  speedtest/multiply-matrices/mpi/pc-7/settings.json
Due: prettier --check, eslint

fix: some events
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

feat(speedtest): add dashboard for master
  speedtest/multiply-matrices/mpi/master/settings.json
Due: prettier --check

fix(dashboard/monitoring): fix clearing header buttons disabling
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeHeader/index.tsx
  packages/dashboard/src/modules/monitoring/store/index.ts
Due: prettier --check, eslint

feat(dashboard/hooks): add scroll hook
  packages/dashboard/src/hooks/index.ts
  packages/dashboard/src/hooks/useScroll.ts
Due: prettier --check, eslint

feat(dashboard/monitoring): add footer with scroll helpers
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTree/index.tsx
  packages/dashboard/src/modules/monitoring/components/blocks/MonitoringEventsTreeFooter/index.tsx
Due: prettier --check, eslint

ci: add publishing workflow
  .github/workflows/publish-packages.yaml
  publish.sh
Due: none

fix(workflows): fix workflow name
  .github/workflows/publish-packages.yaml
Due: none

fix(workflows): fix publishing workflow build
  .github/workflows/publish-packages.yaml
  package.json
  publish.sh
Due: prettier --check

ci: add publish config
  package.json
Due: prettier --check

fix(workflows): revert build step in publishing
  .github/workflows/publish-packages.yaml
Due: none

fix(workflows): fix auth in yarn
  .github/workflows/publish-packages.yaml
Due: none

ci: remove duplicating building
  publish.sh
Due: none

fix(workflows): fix auth stage
  .github/workflows/publish-packages.yaml
Due: none

fix(workflows): add with auth flag
  .github/workflows/publish-packages.yaml
Due: none

ci: fix yarn options
  .github/workflows/publish-packages.yaml
  package.json
  publish.sh
Due: prettier --check

ci: add package lock file
  package-lock.json
  yarn.lock
Due: prettier --check

ci: fix publishing register
  .github/workflows/publish-packages.yaml
  publish.sh
Due: none

ci: remove package lock
  .github/workflows/publish-packages.yaml
  package-lock.json
  publish.sh
Due: prettier --check

ci: fix included files in packages
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/runtime/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
Due: prettier --check

ci: add deps update
  packages/balancing/package.json
  packages/connections/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/sockets/package.json
  packages/utils/package.json
  yarn.lock
Due: prettier --check

ci: fix deps sync
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/runtime/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
Due: prettier --check

ci: add example empty line
  .gitignore
Due: none

ci: fix publish script
  publish.sh
Due: none

ci: fix version presence check
  publish.sh
Due: none

ci: add emojis into stages
  .github/workflows/deploy-documentation.yaml
  .github/workflows/publish-packages.yaml
Due: none

ci: fix version divider in script
  publish.sh
Due: none

ci: update dependencies list of packages
  package.json
  packages/balancing/package.json
  packages/connections/package.json
  packages/connections/src/domain/Command.ts
  packages/connections/src/domain/index.ts
  packages/connections/src/logic/creators/createCommand.ts
  packages/connections/src/logic/creators/index.ts
  packages/core/package.json
  packages/core/tsconfig.json
  packages/dashboard/package.json
  packages/dashboard/tsconfig.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/monitoring/tsconfig.json
  packages/runner/package.json
  packages/runner/tsconfig.json
  packages/runtime/package.json
  packages/runtime/tsconfig.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/settings/tsconfig.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
  yarn.lock
Due: prettier --check, eslint

build(dashboard): fix deps place to dev
  packages/dashboard/package.json
Due: prettier --check

test: add sonarbloud analysis
  .github/workflows/build.yml
Due: none

test: add sonar config file
  sonar-project.properties
Due: none

refactor: fix sonarlint
  .github/workflows/build.yml
  packages/balancing/src/utils/getBalanceKey.ts
  packages/dashboard/bin.ts
  packages/dashboard/index.html
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
  packages/sockets/src/logic/startMainPerson.ts
Due: prettier --check, eslint

fix: sonar issue
  packages/dashboard/src/components/blocks/Head/index.tsx
Due: prettier --check, eslint

ci: add pr checking flow
  .github/workflows/build.yml
  .github/workflows/pr-verification.yml
  package.json
Due: prettier --check

docs: add contents title
  README.md
Due: none

ci: fix lints command
  package.json
Due: prettier --check

ci: fix workflows naming
  .github/workflows/deploy-documentation.yaml
  .github/workflows/pr-verification.yml
  .github/workflows/publish-packages.yaml
Due: none

Path conditions:
  prettier --check: (any of: *.{ts,tsx}) or (any of: *.json)
  eslint: any of: *.{ts,tsx}
