Repository Ev1ch/compyto: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, eslint

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --check", "eslint"],
  "*.json": ["prettier --check"]
}

ci: fix array formatting
  .github/workflows/pr-verification.yml
Due: none

ci: remove useless long building step
  .github/workflows/deploy-documentation.yaml
  .github/workflows/pr-verification.yml
Due: none

Revert "ci: fix array formatting"
  .github/workflows/pr-verification.yml
Due: none

ci: revert build step for docs
  .github/workflows/deploy-documentation.yaml
  .github/workflows/pr-verification.yml
Due: none

test: add autotests for gather and broadcase
  emulations/autotest.ts
  emulations/broadcast/main.ts
  emulations/broadcast/master/main.ts
  emulations/broadcast/master/settings.json
  emulations/broadcast/pc-1/main.ts
  emulations/broadcast/pc-1/settings.json
  emulations/broadcast/pc-2/main.ts
  emulations/broadcast/pc-2/settings.json
  emulations/gather/main.ts
  emulations/gather/master/logs.json
  emulations/gather/master/main.ts
  emulations/gather/master/settings.json
  emulations/gather/pc-1/logs.json
  emulations/gather/pc-1/main.ts
  emulations/gather/pc-1/settings.json
  emulations/gather/pc-2/logs.json
  emulations/gather/pc-2/main.ts
  emulations/gather/pc-2/settings.json
  packages/runner/src/logic/createRunner.ts
  packages/runner/src/logic/getSettings.ts
  packages/sockets/src/logic/creators/createSocketCommunicator.ts
Due: prettier --check, eslint

test: added tests for scatter
  emulations/autotest.ts
  emulations/scatter/main.ts
  emulations/scatter/master/main.ts
  emulations/scatter/master/settings.json
  emulations/scatter/pc-1/main.ts
  emulations/scatter/pc-1/settings.json
  emulations/scatter/pc-2/main.ts
  emulations/scatter/pc-2/settings.json
Due: prettier --check, eslint

ci: update package file preparing
  .github/workflows/publish-packages.yaml
  package.json
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/runtime/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
  prepare.sh
  speedtest/multiply-matrices/package.json
  tests/package.json
  yarn.lock
Due: prettier --check

ci: fix documentation workflow name
  .github/workflows/deploy-documentation.yaml
Due: none

test: fix integration testing
  tests/src/integrations/sockets.test.ts
  tests/src/logic/getRandomClientSettings.ts
  tests/src/logic/getRandomCommunicators.ts
  tests/src/logic/getRandomMasterSettings.ts
  tests/src/utils/getRandomClient.ts
  tests/src/utils/mocks/loggerMock.ts
  tests/src/utils/mocks/monitoringMock.ts
Due: prettier --check, eslint

test: speedtest
  speedtest/multiply-matrices/mpi/main.js
  speedtest/multiply-matrices/mpi/master/settings.json
  speedtest/multiply-matrices/mpi/pc-1/settings.json
  speedtest/multiply-matrices/mpi/pc-2/settings.json
  speedtest/multiply-matrices/mpi/pc-3/settings.json
  speedtest/multiply-matrices/sync.js
Due: prettier --check

feat(runner): update settings path reading
  packages/dashboard/bin.ts
  packages/dashboard/package.json
  packages/runner/package.json
  packages/runner/src/logic/createRunner.ts
  packages/runner/src/logic/getSettings.ts
  packages/runner/src/logic/getSettingsPath.ts
  packages/runner/src/logic/index.ts
  speedtest/multiply-matrices/package.json
  yarn.lock
Due: prettier --check, eslint

docs: add missing method comment
  packages/balancing/package.json
  packages/connections/package.json
  packages/connections/src/domain/Communicator.ts
  packages/core/package.json
  packages/core/src/domain/LocationOperatorArg.ts
  packages/dashboard/package.json
  packages/logging/package.json
  packages/logging/src/logic/createComposedLogger.ts
  packages/monitoring/package.json
  packages/monitoring/src/domain/MonitoringContext.ts
  packages/monitoring/src/domain/MonitoringEvent.ts
  packages/runner/package.json
  packages/runner/src/logic/getSettings.ts
  packages/runner/src/logic/getSettingsPath.ts
  packages/runtime/package.json
  packages/runtime/src/domain/Runtime.ts
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/sockets/src/domain/Socket.ts
  packages/utils/package.json
  packages/utils/src/logic/createId.ts
  packages/validation/package.json
  packages/validation/src/index.ts
  speedtest/multiply-matrices/package.json
  tests/package.json
  yarn.lock
Due: prettier --check, eslint

feat: change file name for logs
  packages/logging/src/logic/createFileLogger.ts
  packages/runner/src/logic/createRunner.ts
  packages/settings/src/domain/Settings.ts
  packages/settings/src/schemas/SettingsSchema.ts
Due: prettier --check, eslint

feat: new version
  packages/balancing/package.json
  packages/connections/package.json
  packages/core/package.json
  packages/dashboard/package.json
  packages/logging/package.json
  packages/monitoring/package.json
  packages/runner/package.json
  packages/runtime/package.json
  packages/serialization/package.json
  packages/settings/package.json
  packages/sockets/package.json
  packages/utils/package.json
  packages/validation/package.json
  speedtest/multiply-matrices/package.json
  tests/package.json
  yarn.lock
Due: prettier --check
